<?xml version="1.0"?>
<Settings>
	<Server>
		<Address>localhost</Address>
		<Port>8080</Port>
		<Protocol>http</Protocol>
	</Server>
	<Key>
		<Length>2048</Length>
		<Path>Keys</Path>
	</Key>
	<Agent>
		<idFile>agentId.txt</idFile>
		<repeatPeriod>2000</repeatPeriod>
		<Name>Almafa</Name>
	</Agent>
	<Features>
		<Os>true</Os>
		<Cpu>true</Cpu>
		<Storage>false</Storage>
		<Memory>false</Memory>
		<Process>true</Process>
	</Features>
	<Contacts>
		<Contact>
			<Name>Pista</Name>
			<Email>s.zakaly.tibi@gmail.com</Email>
		</Contact>
		<Contact>
			<Name>Mari</Name>
			<Email>sz.akaly.tibi@gmail.com</Email>
		</Contact>
		<Contact>
			<Name>Zsuzsi</Name>
			<Email>sza.kaly.tibi@gmail.com</Email>
		</Contact>
	</Contacts>
</Settings>