<?xml version="1.0"?>
<Settings>
	<Server>
		<Address>localhost</Address>
		<Port>8080</Port>
		<Protocol>http</Protocol>
	</Server>
	<Key>
		<Length>2048</Length>
		<Path>Keys</Path>
	</Key>
	<Agent>
		<idFile>agentId.txt</idFile>
		<repeatPeriod>2000</repeatPeriod>
		<Name>RemoteAlma</Name>
	</Agent>
	<Features>
		<Os>true</Os>
		<Cpu>true</Cpu>
		<Storage>true</Storage>
		<Memory>true</Memory>
		<Process>true</Process>
		<Network>false</Network>
	</Features>
	<Contacts>
		<Contact>
			<Name>Pista</Name>
			<Email>tester.tatu@gmail.com</Email>
		</Contact>
	</Contacts>
</Settings>