body {
	background: url("../resources/images/index_background.jpg");
}

.container {
	height: 870px;
	width: 70%;
	background: white;
	margin: 0 auto;
	padding: 20px 10px;
	border-radius: 5px;
}


header {
	color: white;
}


.content {
}

