<?xml version="1.0"?>
<Settings>
	<Key>
		<Length>2048</Length>
		<Path>Keys</Path>
	</Key>
	<Admins>
		<Admin>
			<Name>Szakály Tibor</Name>
			<Email>szakaly.tibi@gmail.com</Email>
		</Admin>
		<Admin>
			<Name>Válóczy Bálint</Name>
			<Email>valoczy.balint@gmail.com</Email>
		</Admin>
	</Admins>
</Settings>
